* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100%; height: 100%;
    background-color: #cccccc;
}

#frameset {
    z-index: 10;
    width: 100%; height: 100%;
}

#status .alert {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 8px 20px;
    font-size: 13px;
    position: fixed;
    right: -500px; top: 90px;
    z-index: 20;
}

#status .alert:hover {
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.05), 0 0 0 0.25rem rgb(215,232,252);
}

#status .alert > span {
    padding-left: 10px;
    color: #a9a350;
}

.modal-content {
    width: 500px;
    position: absolute;
}

.modal-header {
    background-color: #d6defa;
    padding: 7px 20px;
}

.modal-header > h5 {
    font-size: 13px;
    font-weight: bold;
}

.modal-body {
    padding: 15px 20px;
    font-size: 15px;
}

.modal-footer {
    padding: 3px 10px;
}

#alert .modal-header {
    cursor: move;
}

#alert .modal-content, #confirm .modal-content {
    top: calc(50% - 103px);
    left: calc(50% - 250px);
}

#progress .modal-content {
    top: calc(50% - 75px);
    left: calc(50% - 250px);
}

#popup .modal-header {
    cursor: move;
}

#popup .modal-content {
    top: calc(50% - 300px);
}

#progress, #popup {
    z-index: -1;
}

@media (max-width: 500px) {
    #alert .modal-content, #progress .modal-content, #confirm .modal-content {
        width: 90%;
        left: 5%
    }
}

/*frameset.html css와 파일업로드창 css*/

/*파일업로드창*/

#filelist {
    padding: 0;
}

#filelist .componentBody{
    padding: 0;
}

#filelist .componentBody.agGrid {
    height: 22em;
}

#filelist .ag-theme-balham .ag-row:not(.ag-full-width-row) {
    height: 100% !important;
    width: 672px;
}

/* 애니메이션 */

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.fa-comment-dots {
    animation: blink-effect 1s step-end infinite;
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

.link > img:nth-child(1) {
    animation: rotate_reverse_image 30s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_reverse_image{
	100% {
    	transform: rotate(-360deg);
    }
}

.link > img:nth-child(2) {
    animation: rotate_image 30s linear infinite;
    transform-origin: 50% 50%;
    position: absolute; top: 0; left: 0;
}

.link > img:nth-child(3) {
    position: absolute; top: 0; left: 0;
}

/* 데스크탑 & 모바일 공통 */
#frameGNB {
    position: relative;
    padding-bottom: 0; 
}

.gnb {
    background-image: linear-gradient(to left, #58aafc, #12329b);
    transition: margin-left .5s;
}

nav.menu {
    overflow: hidden;
    background-image: linear-gradient(to left, #58aafc, #12329b);
    height: 80px;
    width: 100%;
    transition: margin-left .5s;
}

.logo {
    display: flex; 
    align-items: center;
    height: 80px;
}

.logo > img {
    margin-right: 10px
}

.menu button {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.menu-right {
    float: right;
    color: white;
    width: 300px;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
}
.menu-right button.toggle {
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    padding-left: 5px;
    padding-right: 30px;
}

.menu-right button {
    color: #a0d2e9;
}

.alarm>span {
    position: absolute;
    font-size: 15px;
}

.alarm {
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    padding-right: 20px;
    position: relative;
}

.alarm:hover {
    cursor: pointer;
    color: #0e2d87;
}

.user {
    border: none;
    background-color: transparent;
    transition: all 0.5s;
}

.user:hover {
    cursor: pointer;
    color: #0e2d87;
}

#mySidenav {        
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e2d87;
    background-image: linear-gradient(180deg, #0e2d87, #78c1f5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

#mySidenav a {
    position: absolute;
    text-decoration: none;
}

#mySidenav a:hover {
    color: navy;
}

#mySidenav .closebtn {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    border: none;
    color: #ffffff;
}

.logoside {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logoside p {
    font-size: 30px;
    color: #a0d2e9;
    background-color: navy;
    padding: 10px 20px;
    border-radius: 20px;
}

#main {
    background-color: white;
    border: 2px dashed #0e2d87;
    transition: margin-left .5s;
    padding: 16px;
}

/************************데스크탑 사이즈************************/

@media(min-width:768px) {

    /*상단 메뉴 */
    #frameGNB {
        flex: 0 0 auto;
        width: 100%;
    }

    .gnb {
        overflow: hidden;
        background-image: linear-gradient(to left, #58aafc, #12329b);
        height: 80px;
        transition: margin-left .5s;
    }

    nav.menu {
        display: flex; 
        justify-content: space-between;
        width: 100%;
    }

    .menu-right {
        width: 300px;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-top: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-right button.toggle {
        border: none;
        background-color: transparent;
        transition: all 0.5s;
        padding-left: 5px;
        padding-right: 30px;
    }

    .menu-right button.toggle:hover {
        cursor: pointer;
        color: #0e2d87;
    }

    .alarm>span {
        top: 3px;
        right: 7px;
    }

    .user {
        padding-left: 10px;
    }

    /*사이드 메뉴 네비 바*/

    #mySidenav {
        z-index: 2;
    }

    #mySidenav::-webkit-scrollbar {
        display: none;
    }
    
    #mySidenav .closebtn {
        font-size: 50px;
    }

    /*탭라인*/

    #frameMain {
        transition: margin-left .5s;
    }

    /*콘텐츠박스*/

    #main {
        height: auto;
    }

    #frameHome {
        transition: margin-left .5s;
        display: block;
    }
}


/************************모바일 사이즈************************/

@media(max-width:768px) {

    /*상단 메뉴 */

    .menu button {
        display: none;
    }

    .profile {
        position: relative;
        width: 60px;
        height: 60px;
        overflow: hidden;
        cursor: pointer;
    }                                                                            

    /*사이드 메뉴 네비 바*/

    #mySidenav {        
        z-index: 10;
    }

    #mySidenav .closebtn {
        font-size: 36px;
    }

    /*콘텐츠박스*/

    #main {
        height: 800px;
    }

    .action {
        position: fixed;
        top: 20px;
        right: 30px;
    }


}
