*{
    box-sizing: border-box;
}
body{ 
    margin: 0;
}

.pageNav{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0 0.5rem;
}
.pageNav > .navTree{
    font-size: 0.8em;
    color: #808080;
}
.pageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    flex-wrap: wrap;
}
.commonFunc > button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.5em;
    width: 2em;
    height: 2em;
}
.commonFunc > button:hover {
    background-color: #f2f6f7;
}
.pageTop > .pageTitle {
    display: flex;
    font-size: 1.5rem;
    font-weight: 800;
    align-items: center;
}
.pageTitle > .moreBtn {
    background: none;
    border: none;
    font-size: 1.3rem;
    transition: transform 300ms ease-in-out;
    margin-left: 0.5rem;
    cursor: pointer;
}
.pageTitle > .moreBtn.clicked {
    transform: rotate(180deg);
}
.pageFunc { 
    display: flex;
    align-items: center;
    position: relative;
}
.pageFunc > .gButton {
    background: none;
    border: 1px solid lightgrey;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-left: 0.2em;
    height: 2rem;
    cursor: pointer;
}
.pageFunc > .gButtonsetpanel {
    display: none;
    position: absolute;
    z-index: 1;
    top: 1.2rem;
    right: 0;
    width: 15em;
    list-style: none;
    padding: 0.5em;
    background-color: #f2f6f7;
    border-radius: 10px;
}
.pageFunc > .gButtonsetpanel > li {
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
}
.pageFunc > .gButtonsetpanel > li:hover {
    background-color: #a0d2e9;
}


/* 희주 */
/* ================================================================================================================ */
/* ================================================================================================================ */
/* ================================================================================================================ */
/* 상하 */

 /* color : #1e7ae1 */

 #body > div{
	text-align: center;
 }



/* == PageCond ====================================================== */
.pageCond{
	margin-bottom: 20px;
}
/* == PageContent ====================================================== */
.pageContent{
	background-color: bisque;
}
.pageContent > div{
	display: flex;
	width: 100%;
}



/* == ComponentTop ====================================================== */

/* ComponentTop */
.componentTop{
	display: flex;
	margin-bottom: 10px;
	width: 100%;
}

/* ComponentTop - Title */
.componentTop > .componentTitle{
	background-color: red;
	padding: 5px 0px 5px 10px;
	font-size: 10px;
	width: 100%;
	text-align: start;
}

/* ComponentTop - Func */
.componentTop > .componentFunc{
	background-color: blue;
	padding: 5px 10px 5px 0px;
	font-size: 10px;
	width: 100%;
	text-align: end;
}
.componentTop > .componentFunc > button{
	background-color: none;
	border: 1px solid lightgrey;
	border-radius: 20px;
	padding: .5em 1em;
	margin-left: 0.2em;
	height: 2rem;
	cursor: pointer;
}
 

/* == ComponentBody ====================================================== */

 /* Control Common */
.componentContainer > .componentBody {
	flex: 1 1 100%;
}
.componentBody  {
	display: flex;
	flex: 1 1 100%;
}
.componentBody > .inputWrap{
	margin-left: auto; margin-right: auto;
	background-color: white;
	display: flex;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px 7px 5px 7px;
	width: max-content;
	height: 100%;
	text-align: center;
}
.componentBody > .inputWrap > i{
	margin-right: 5px;
	margin-top: auto; margin-bottom: auto;
	font-size: 3px;
	cursor: pointer;
}


/* TextField Control */
.componentBody > .inputWrap.txt > input{
	border: none;
	font-size: 10px;
	width: 100%;
}
.componentBody > .inputWrap.txt > input:focus{
	outline: none;
}

/* Password Control */
.componentBody > .inputWrap.pwd > input{
	border: none;
	font-size: 10px;
	width: 100%;
}
.componentBody > .inputWrap.pwd > input:focus{
	outline: none;
}

/* SelectBox Control */
.componentBody > .inputWrap.sel > select{
	border: none;
	width: 100%;
	text-align: center;
	font-size: 10px;
}
.componentBody > .inputWrap.sel > select:focus{
	outline: none;
}

/* CheckBox Control */
.componentBody > .inputWrap.cbx > label{
	font-size: 10px;
	line-height: 17px;
	margin-top: auto; margin-bottom: auto;
}
.componentBody > .inputWrap.cbx > input{
	margin-top: auto; margin-bottom: auto;
	margin-right: 10px;
}
.componentBody > .inputWrap.cbx > input:checked{
	margin-top: auto; margin-bottom: auto;
	background-color: red;
}
.componentBody > .inputWrap.cbx > input:focus{
	background-color: red;
}

/* TextArea Control */
.componentBody > .inputWrap.tarea > textarea{
	border: none;
	font-size: 10px;
	color: black;
	width: 100%;
}
.componentBody > .inputWrap.tarea > textarea:focus{
	outline: none;
}

/* Button Control */
.componentBody > .inputWrap.btn > input{
	border: 1px solid rgb(200,200,200);
	border-radius: 20px;
	font-size: 10px;
	padding: 5px 10px 5px 10px;
}
.componentBody > .inputWrap.btn > input:hover{
	border: 1px solid #1e7ae1;
	background-color: #1e7ae1;
	color: white;
}

