/*여기부터*/

/*** aweTab *******************************************************************************/
.aweTab {
	display: flex;
	border-bottom: 1px solid #cbc3c3;
	padding-left: 0;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 0.1em;
	margin-bottom: 0;
	flex: 0 0 auto !important;
}

.aweTab .tab {
	margin-left: 2px;
	border: 1px solid #aeaeae;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.25em 1em;
	background-color: #aeaeae;
	/* #1c84c6#1989ce */
	color: white;
	cursor: pointer;
	list-style: none;
	white-space: nowrap;
}

.aweTab .tab:hover {
	color: yellow;
}

.aweTab .tab.active {
	background-color: #ffffff;
	border-bottom: 2px solid #ffffff;
	margin-bottom: -1px;
	color: #000;
}

.aweTab .tab i:hover {
	color: hsl(0 80% 50%);
}

.aweTab .closetab {
	float: right;
}
.framepage.active>* {
	flex: 0 0 auto;
}

.framepage.active>*.pageContent {
	flex: 1 1 auto;
	/* overflow-y: hidden;
	background-color: hsla(0 0% 90% / .1); */
}

.framepage.active>*:last-child {
	flex: 1 1 auto;
}

/* ** flexRow, flexColumn ** */
.flexColumn {
	display: flex;
	flex-direction: column !important;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: stretch;
	/* overflow-y: auto !important;
	overflow-x: hidden !important; */
	height: 100%;
}

.flexColumn.Resizable {
	cursor: row-resize;
	row-gap: 1em;
}

.componentBody.agGrid {
	height: calc(100% - 2em);
  /*  height: 20em;/*kes 파일업로드창 업로드파일목록*/
}

.flexColumn.componentContainer {
	row-gap: 0 !important;
}

.flexColumn>* {
	flex: 1 1 auto;
}

.flexColumn>*:first-child {
	flex: 0 0 auto;
}

.flexColumn>*:last-child {
	flex: 1 1 auto;
	height: unset !important;
}

.flexRow {
	display: flex;
	flex-direction: row !important;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
	height: 100%;
	/* overflow-y: auto !important;
	overflow-x: hidden !important; */
	column-gap: 1em;
}

.flexRow.Resizable {
	cursor: col-resize;
}

.mobile .flexRow {
	display: block !important;
	flex-wrap: wrap !important;
}

.flexRow>* {
	flex: 0 0 auto;
}

.flexRow>*:last-child {
	flex: 1 1 auto;
}

.flexRowHandler {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 12px;
	height: 64px;
	background-color: hsla(32 50% 80% / .4);
	cursor: col-resize;
}

.flexColumnHandler {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 64px;
	height: 12px;
	background-color: hsla(32 50% 80% / .4);
	cursor: row-resize;
}

.framepage.hidden {
	display: none;
}

/*여기까지*/




* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.framepage.active {
    height: calc(100vh - 140px);
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
		padding: 0 10px;
}

.pageNav{
    display: flex;
    justify-content: space-between;
		padding: 0.5rem 0;
}


@media(max-width:768px) {

	.pageNav {
		display: flex;
		align-content: center;
		padding: 0.5rem;
		border-bottom: 2px solid #d7e8fc;
		margin-bottom: 10px;
		border-image: linear-gradient(to right, #4288db, #c2deff, #ffcdf3aa);
		border-image-slice: 1;
	}

	.pageNav .navTree{
		margin-top:6px;
	
	}

}




.pageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.3rem; */
    flex-wrap: wrap;
}

.commonFunc>button {
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	padding: 0.5em;
}

.commonFunc>button:hover {
	background-color: #f2f6f7;
}

.pageTop>.pageTitle {
	display: flex;
	font-size: 1.5rem;
	font-weight: 800;
	align-items: center;
}

.pageTitle>.moreBtn {
	background: none;
	border: none;
	font-size: 1.3rem;
	transition: transform 300ms ease-in-out;
	margin-left: 0.5rem;
	cursor: pointer;
}

.pageTitle>.moreBtn>.fa-caret-down {
	padding-right: 0;
}

.pageTitle>.moreBtn.clicked {
	transform: rotate(180deg);
}

.pageFunc {
	display: flex;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	font-size: 1.2em;
}

.pageFunc>.gButton {
	background: none;
	border: 2px solid #384a90;
	border-radius: 20px;
	padding: 0.5em 1em;
	margin-left: 0.2em;
	cursor: pointer;
	font-size: 1em;
    font-weight: 600;
    color: #384a90;
}
.pageFunc>.gButton:hover {
	background-color: #1e7ae1;
	border: 2px solid #1e7ae1;
	color: white;
}
.pageFunc>.gButtonPanel {
	display: none;
	position: absolute;
	z-index: 99999;
	top: 3rem;
	right: 0;
	width: 15em;
	list-style: none;
	padding: 0.5em;
	background-color: #f2f6f7;
	border-radius: 10px;
}

.pageFunc>.gButtonPanel>li {
	padding: 0.5em;
	border-radius: 10px;
	cursor: pointer;
}

.pageFunc>.gButtonPanel>li:hover {
	background-color: #a0d2e9;
}

.pageCond.componentContainer > .componentBody {
	background-origin: content-box;
	background-color: #f5f6f7;
	border: 1px solid #BDC3C7;
}
/* ===================================================================================================== */
/* ============================================ 김희주 제작 ============================================ */
/* ==================================================================================================== */

/* ===================================================================================================== */
/* ============================================ 나상하 제작 ============================================ */
/* ==================================================================================================== */

/* ============================ gfnComponent - Start ============================ */

.componentContainer {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	padding: 0.5em;
	cursor: auto;
}
.pageContent{
	width: 100%;
	display: flex;
	height: 100%;
}
.componentTop { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
		margin: 0.5em;
}

.componentBody {
	padding: 0.5em;
}
.componentTitle { 
	font-size: 1.4em;
	font-weight: 600;
}

.componentFunc{

}
.componentFunc  > input{
	height: 100%;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 0.5em;
}
.componentFunc  > input:focus{
	outline: none;
}
.componentFunc > .gButton{
	margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
	background-color: rgb(30, 122, 225);
	color: white;
	font-size: 13px;
	box-shadow: 3px 3px 3px gray;
}
.componentFunc > .gButton:hover{
	/* border: 1px solid rgb(30, 122, 225); */
}
.componentBody {
	padding: 0.5em;
	height: 100%;
}

/* ============================ gfnComponent - End ============================ */

/* ============================ workbenchForm - Start ============================ */
.pageContentSide{
	/* background-color: red; */
	display: flex; flex-direction: column;
	height: calc(100vh - 19em);
	flex-basis: 34%;
	margin-right: 1%;
}
.pageContentSide > div{
	background-color: white;
	border-radius: 5px;
	box-shadow: 3px 3px 3px gray;
	flex-basis: 33%;
	margin-bottom: 1em;
}
.pageContentSide > div > .componentTop > .componentTitle{
	font-size: 15px;
}
.pageContentSide > div > .componentTop > .gbuttonSet > .gButton{
	margin-right: 10px;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
	background-color: rgb(30, 122, 225);
	color: white;
	font-size: 0.8em;
	box-shadow: 3px 3px 3px gray;
}

.pageContentMain{
	background-color: white;
    height: calc(100vh - 20em);
	padding: 1em;
    flex-basis: 65%;
	display: flex;
	border-radius: 10px;
	box-shadow: 3px 3px 3px gray;
}

.workBenchFormWrap{
	width: 100%; height: 100%;
	border-radius: 10px;
}
.workBenchFormWrap.funcInfo{
	padding: 1em;
}
.workBenchFormWrap.funcInfo > .pageContentMainBody > .funcid, .func_nm, .func_icon, .func_tp{
	flex-basis: 50%;
}
.workBenchFormWrap.dataInfo{
	padding: 1em;
}
.workBenchFormWrap.dataInfo > .pageContentMainBody > .data_id, .data_nm, .component_pgmid, .inout_tp{
	flex-basis: 25%;
}
.workBenchFormWrap.srcInfo{
	display: flex; flex-direction: column;
}
.workBenchFormWrap.srcInfo > .pageContentMainTop{
	height: 3em;
}
.workBenchFormWrap.srcInfo > .pageContentMainBody{
	height: 95%;
}
.pageContentMainTop{
	width: 100%;
	display: flex; flex-direction: row;
	padding: 0px 10px 0px 10px;
	margin-bottom: 10px;
}
.pageContentMainTop > .pageContentMainTitle{
	width: 80%;
	font-size: 15px;
	font-weight:  bold;
}
.pageContentMainTop > .pageContentMainFunc{
	/* background-color: green; */
	width: 20%;
	text-align: end;
}
.pageContentMainTop > .pageContentMainFunc > button{
	margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
	background-color: rgb(30, 122, 225);
	color: white;
	font-size: 15px;
	box-shadow: 3px 3px 3px gray;
}
.pageContentMainTop > .pageContentMainFunc > button[funcid = cancel]{
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: black;
	font-size: 20px;
}

.pageContentMainBody{
	display: flex;	flex-direction: row; flex-wrap: wrap;
}
.pageContentMainBody > .pageContentMainInputWrap{
	width: 100%;
	margin-bottom: 0.5em;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapTitle{
	width: 100%;
	color: rgb(30, 122, 225);
	padding-bottom: 0.5em;
	font-size: 1em; font-weight: 500;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent{
	width: 100%;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > input{
	width: 100%;
	padding: 0.5em;
	border: 0.5px solid gray;
	border-radius: 5px;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > input:focus{
	outline: none;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > select{
	width: 100%;
	padding: 0.5em;
	border: 0.5px solid gray;
	border-radius: 5px;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > select:focus{
	outline: none;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > textarea{
	width: 100%;
	height: 10em;
	padding: 0.5em;
	border: 0.5px solid gray;
	border-radius: 5px;
	resize: none;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > textarea:focus{
	outline: none;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > button{
	width: 100%;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(30, 122, 225);
	font-size: 18px;
	color: white;
	box-shadow: 3px 3px 3px grey;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > .componentOptionWrap{
	width: 100%;
	display: flex; flex-direction: row;
	margin-bottom: 0.5em;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > .componentOptionWrap > .componentOptionTitle{
	flex-basis: 20%;
	padding-left: 1em;
	margin-top: auto; margin-bottom: auto;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > .componentOptionWrap > .componentOptionBody{
	flex-basis: 80%;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > .componentOptionWrap > .componentOptionBody > input{
	width: 100%;
	padding: 0.5em;
	border: 0.5px solid gray;
	border-radius: 5px;
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > .componentOptionWrap > .componentOptionBody > input:focus{
	outline: none;
}

.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > input.pk{
	background-color: rgba(255, 255, 0, 0.5);
}
.pageContentMainBody > .pageContentMainInputWrap > .InputWrapContent > input.keycol{
	background-color: rgba(255, 255, 0, 0.5);
}


.pageContentMainBody > div > .componentTop{
	display: none;
}
.srcEditor {
	height: 100%;
}
.componentBody.ace_editor.ace-chrome {
    height: 100%;

}

#pgm_data_content{
    position: absolute;
	width: 70%;
	background-color: #FEFEFE;
	border: 1px solid rgb(30, 122, 225);
	border-radius: 10px;
	padding: 5px;
	z-index: 10;
	display: none;
}
#pgm_data_content > .componentBody{
    height: 300px;
}
#pgm_data_content > .componentTop > .componentFunc > button{
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
	background-color: rgb(30, 122, 225);
	color: white;
	font-size: 15px;
	box-shadow: 3px 3px 3px gray;
}
#pgm_data_content > .componentTop > .componentFunc > button[funcid=closeColList]{
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
	background-color: transparent;
	color: black;
	font-size: 15px;
	box-shadow: none;
}

.componentOptionEditor{
	border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
	width: 100%; height: 10em;
}
/* ============================ workbenchForm - End ============================ */

/*** agGrid ***************************************************************************************/
.gridHeight {
	height: calc(100% - 2em);
	min-height: 5em;
}

.ag-theme-balham {
	font-size: 12px !important;
}

.ag-theme-balham .ag-row:not(.ag-full-width-row) {
	height: 100% !important;
}

.ag-theme-balham .ag-cell {
	line-height: unset !important;
	text-overflow: unset !important;
	/*height: 100%;*/
	min-height: 22px !important;
	text-align: center;
}

.ag-theme-balham .ag-cell-wrapper {
	height: 100%;
}

.rownum {
	display: inline-block;
	width: 100%;
	margin-left: -0.5em;
	margin-right: -0.5em;
	text-align: center;
	overflow: hidden;
}

.ag-row-odd {
	background-color: rgba(242, 246, 249, 0.95);
}

.ag-row-even {
	background-color: rgba(232, 236, 239, 0.95);
}

.ag-theme-balham .ag-cell-inline-editing {
	margin-top: -1px;
	max-height: 24px;
}

.ag-theme-balham .ag-cell-not-inline-editing {
	margin: 0;
	padding: 0 !important;
	/* text-align: center; */
}

.ag-theme-balham .aweRow.ag-full-width-row {
	height: unset !important;
	max-height: unset !important;
	border-bottom: 1px solid #e0e0e0;
}

.ag-cell .aweCol {
	display: inline-block;
	width: 100%;
	height: 100% !important;
	min-height: 22px !important;
	padding: 0 0.5em;
	text-align: center;
}

.ag-cell [type='checkbox'].aweCol {
	width: 1.25em !important;
	height: 1.25em !important;
}

.ag-cell .aweCol.rowSpan {
	border-top: 0;
	border-bottom: 0;
}

.ag-cell .aweColWrap {
	width: 100%;
	height: 100% !important;
	padding: 0;
	background-color: transparent;
}

.ag-cell .aweColWrap .aweCol {
	width: 100%;
	height: 100% !important;
	padding: 0;
	background-color: transparent;
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
	text-overflow: unset !important;
}

.ag-floating-top .ag-row:nth-child(1) .ag-cell {
	background-color: rgb(222, 235, 247);
}

.ag-floating-top .ag-row:nth-child(2) .ag-cell {
	background-color: rgb(226, 240, 214);
}

.ag-floating-top .ag-row:nth-child(3) .ag-cell {
	background-color: rgb(255, 242, 204);
}

.ag-floating-top .ag-cell.disabled span,
.ag-floating-top .aweCol.disabled {
	background-color: inherit !important;
}

.ag-floating-top .ag-cell.pk span,
.ag-floating-top .aweCol.pk {
	background-image: inherit;
	background-repeat: inherit;
	background-color: inherit !important;
	color: inherit;
}

.ag-floating-top .ag-cell.keycol span,
.ag-floating-top .aweCol.keycol {
	background-color: inherit !important;
}

.ag-floating-bottom .ag-row:nth-child(1) .ag-cell {
	background-color: rgb(222, 235, 247);
}

.ag-floating-bottom .ag-row:nth-child(2) .ag-cell {
	background-color: rgb(226, 240, 214);
}

.ag-floating-bottom .ag-row:nth-child(3) .ag-cell {
	background-color: rgb(255, 242, 204);
}

.ag-floating-bottom .ag-cell.disabled span,
.ag-floating-bottom .aweCol.disabled {
	background-color: inherit !important;
}

.ag-floating-bottom .ag-cell.pk span,
.ag-floating-bottom .aweCol.pk {
	background-image: inherit;
	background-repeat: inherit;
	background-color: inherit !important;
	color: inherit;
}

.ag-floating-bottom .ag-cell.keycol span,
.ag-floating-top .aweCol.keycol {
	background-color: inherit !important;
}

.ag-header-active .ag-icon.ag-icon-menu {
	display: inline-block !important;
}

.ag-theme-balham .ag-icon-menu {
	display: none !important;
}



.ag-theme-balham .ag-header-select-all {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.ag-cell[col-id='ag-Grid-AutoColumn'] {
	text-align: left;
	margin: 0.1em;
}

.ag-cell.pk span,
.aweCol.pk {
	background-image: url(../images/keycol.png);
	background-repeat: no-repeat;
	/* background-color: rgba(255,255,156,0.25) !important;  */
	background-color: rgba(255, 255, 0, 0.5);
	color: #6d2c2c;
}

.ag-cell.keycol span,
.aweCol.keycol {
	/* background-color: rgba(255, 255, 156, 0.25) !important; */
	background-color: rgba(255, 255, 0, 0.5);
}

.ag-cell.borderL span,
.aweCol.borderL {
	border-left: 1px solid #3a3a3a5a;
}

.ag-cell.dim span,
.aweCol.dim {
	font-weight: 100 !important;
}

.ag-cell.cbx {
	text-align: center;
}

.ag-cell.txt span {
	text-align: left;
	background-color: transparent;
}

.ag-cell.num span,
.ag-cell.dec1 span,
.ag-cell.dec2 span,
.ag-cell.dec3 span,
.ag-cell.dec4 span {
	text-align: right;
	background-color: transparent;
}

.ag-cell.ymd span,
.ag-cell.code span {
	text-align: center;
	background-color: transparent;
}

.ag-cell.disabled span,
.aweCol.disabled {
	background-color: rgba(128, 128, 128, 0.05) !important;
}

.aweRow {
	min-height: 24px !important;
	max-height: 24px !important;
}

.aweRow-deleted {
	background-color: rgba(164, 164, 164, 0.66) !important;
}

.aweRow-hide {
	display: none !important;
}

span.cell-deleted {
	background-color: rgba(128, 128, 128, 0.75) !important;
}

.ag-cell.text-center {
	text-align: center;
}

.cell-span {
	background-color: #fff;
}

.ag-cell select.aweCol {
	max-height: 24px !important;
}

.ag-cell input.aweCol {
	max-height: 24px !important;
}

.ag-center-cols-viewport::-webkit-scrollbar {
	height: 1px;
	background-color: #ffffff00
}

.ag-center-cols-viewport::-webkit-scrollbar-thumb {
	background-color: #ffffff00
}

.ag-body-viewport::-webkit-scrollbar {
	width: 0.75em;
	background-color: #e5e5e9;
}

.ag-body-viewport::-webkit-scrollbar-thumb {
	background-color: #082b46;
	border-right: 1px solid #4d504c30;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
	height: 0.75em;
	background-color: #e5e5e9;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
	background-color: #082b46;
	border-right: 1px solid #4d504c30;
}

.aweRow.subsum1 {
	background-color: hsl(44deg 100% 89%);
}

.aweRow.subsum3 {
	background-color: hsl(60deg 90% 89%);
}

.aweRow.subsum7 {
	background-color: hsl(90deg 85% 89%);
}

.aweRow.subsum15 {
	background-color: hsl(120deg 80% 89%);
}

.aweRow.subsum31 {
	background-color: hsl(200deg 75% 89%);
}

.aweRow.subsum63 {
	background-color: hsl(180deg 70% 89%);
}

.aweRow.subsum127 {
	background-color: hsl(200deg 65% 89%);
}

#pdf input {
	height: 2.5em;
}

/*** end of agGrid ********************************************************************************/
/* ============================ Ag Gird - Start ============================ */
.ag-cell > button {
	border: none;
    background: rgb(30, 122, 225);
    color: white;
    font-size: 0.8em;
}

.ag-cell > button[colid=content] {
	background-color: rgb(30, 122, 225);
	border: none;
}
.ag-cell > button[colid=content] > i{
	color: white;
}
/* ============================Ag Gird - End ============================ */
/*** aweForm *******************************************************************************/
.aweForm{
	display: flex;	
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}
.aweForm > div{
    padding-right: 1em;
    flex-grow: 1;
	display: flex; flex-direction: row; flex-wrap: wrap;
	align-content: flex-start;
	margin-bottom: 0.5em;
}
.aweForm > div.btn{
    padding: 0;
}

.aweForm > div > .label{
    flex-basis: 100%;
}
.aweForm > div > .aweInputWrap{
	background-color: white;
    width: 100%; height: 2.5em;
	display: flex; flex-direction: row;
	border: 1px solid gray;
	border-radius: 5px;
	overflow: hidden;
	flex: 1 1 0;
}
.aweForm > div > .aweInputWrap > i{
	margin-top: auto;
    margin-bottom: auto;
    padding: 0em 0.5em 0em 0.5em;
}

/* Text, Password */
.aweForm > div > .aweInputWrap > input{
	flex: 1 1 0;
	border: none;
	padding-left: 0.5em;
	width: 100%;
}
.aweForm > div > .aweInputWrap > input:focus{
	outline: none;
}
/* TextArea */
.aweForm > div.tarea > .aweInputWrap{
    height: 5em;
}
.aweForm > div.tarea > .aweInputWrap > textarea{
	width: 100%;
    border: none;
    padding: 0.5em;
    resize: none;
}
.aweForm > div.tarea > .aweInputWrap > textarea:focus{
	outline: none;
}


/* Select */
.aweForm > div > .aweInputWrap > select{
	width: 100%;
	border: none;
}
.aweForm > div > .aweInputWrap > select:focus{
	outline: none;
}

/* Button */
.aweForm > div.btn > .aweInputWrap {
	border:none;
	flex: none;
}
.aweForm > div.btn > .aweInputWrap > button{
	margin-left: auto; margin-right: auto;
	padding: 0.5em;
    border: none;
    border-radius: 5px;
    background: rgb(30, 122, 225);
    color: white;
    box-shadow: 1px 1px 1px grey;
}

/* CheckBox */
.aweForm > div.cbx > .label{
	text-align: center;
}
.aweForm > div.cbx > .aweInputWrap{
	border: none;
	flex: none;
}
.aweForm > div.cbx > .aweInputWrap > span{
	margin: auto;
}
.aweForm > div.cbx > .aweInputWrap > label{
	margin-left: auto; margin-right: auto;
}
.aweForm > div.cbx > .aweInputWrap > input[type=checkbox]{
	display: none;
}
.aweForm > div.cbx > .aweInputWrap > input[type="checkbox"] + label {
	display: block;
	position: relative;
	width: 3.3em;
    height: 2em;
	border: 2px solid gray;
	border-radius: 1em;
	background: #f3f3f3;
	/* box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3); */
	cursor: pointer;
	-webkit-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}
.aweForm > div.cbx > .aweInputWrap > input[type="checkbox"] + label::before {
	content: "";
	display: block;
	width: 1.2em;
	height: 1.2em;
	border-radius: 1em;
	background: #50565a;
	/* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); */
	position: absolute;
	left: 0.2em;
	top: 0.23em;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.aweForm > div.cbx > .aweInputWrap > input[type="checkbox"]:checked + label {
	background: #fff;
	border: 2px solid rgb(30, 122, 225);
}
.aweForm > div.cbx > .aweInputWrap > input[type="checkbox"]:checked + label::before {
	background: rgb(30, 122, 225);
	/* box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2); */
	left: 1.6em;
}

/* Date */
.aweForm > div.date > .aweInputWrap > input {
	font-size: 1em;
}

/* Span */
.aweForm > div.raw > .aweInputWrap{

}
.aweForm > div.raw > .aweInputWrap > span{
	width: 100%;
    padding-left: 0.5em;
	margin-top: auto; margin-bottom: auto;
}


/* 두개 이상 Input */
.intervalMark{
	padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}
.aweForm > div > .aweInputWrap > .aweColWrap{
	display: flex; flex-direction: row;
	width: 100%;
	background-color: white;
}
.aweForm > div > .aweInputWrap > .aweColWrap > input{
	flex-basis: 90%;
	height: 100%;
	border: none;
}
.aweForm > div > .aweInputWrap > .aweColWrap > input:focus{
	outline: none;
}
.aweForm > div > .aweInputWrap > .aweColWrap > button{
	flex-basis: 10%;
	background-color: transparent;
    border: none;
    border-radius: 10px;
}
.aweForm > div > .aweInputWrap > .aweColWrap > button:hover{
	background-color: rgba(30, 122, 225, 0.5);
}

/* FieldSet */
.aweForm > fieldset{
	flex: 1 1 0;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 0.5em;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.aweForm > fieldset > div{
	padding-right: 0.5em;
}
.aweForm > fieldset > div > .aweInputWrap{
	height: 2.5em;
}
.aweForm > fieldset > div > .aweInputWrap > i{
	
}
.aweForm > fieldset > div > .aweInputWrap > input{
	height: 100%;
	padding-left: 0.5em;
}
.aweForm > fieldset > div > .aweInputWrap > input[type=date]{
	font-size: 1em;
}
.aweForm > fieldset > div > .aweInputWrap > input[type=month]{
	font-size: 1em;
}
.aweForm > fieldset > div > .aweInputWrap > input:focus{
	outline: none;
}
.aweForm > fieldset > div > .aweInputWrap > select{
	height: 100%;
	padding-left: 0.5em;
}
.aweForm > fieldset > div > .aweInputWrap > select:focus{
	outline: none;
}
.aweForm > fieldset > div > .aweInputWrap > span{
	padding-left: 0.5em;
}

/* 옵션 이벤트 */
.aweForm > div > .aweInputWrap > input.readonly{
	background-color: rgba(0, 0, 0, 0.1);
}
/* 옵션 이벤트 */
.aweForm > div.tarea > .aweInputWrap > textarea.readonly {
	background-color: rgba(0, 0, 0, 0.1);
}
.aweForm > div > .aweInputWrap > select.readonly {
	background-color: rgba(0, 0, 0, 0.1);
}



/*** end of aweForm *******************************************************************************/	

/*** select2 Hack *********************************************************************************/
.aweForm .select2-container {
	width: 96% !important;
	/* height: 100%; */
	overflow: hidden; 
	background-color: white;
	border-radius: 5px;
}
.mobile .aweForm .select2-container {
width: 100% !important;
}
.aweForm .select2 .selection {

}
.aweForm .select2-selection--single {
border: 0;
}
.aweForm .pk .select2-selection--single { 
	background-image: url(../images/keycol.png);
	background-repeat: no-repeat;
	color: #6d2c2c;
	background-color: rgba(255,255,156,0.25) !important;
} 
.aweForm .keycol .select2-selection--single {
	background-color: rgba(255,255,156,0.25) !important;
}	 
.aweForm .disabled .select2-selection--single {
	background-color: rgba(128,128,128,0.2) !important;
}	
.aweForm .select2-selection--multiple {
border: 0;
padding: 0;
min-height: unset !important;
display: flex;
}
.aweForm .pk .select2-selection--multiple { 
	background-image: url(../images/keycol.png);
	background-repeat: no-repeat;
	color: #6d2c2c;
	background-color: rgba(255,255,156,0.25) !important;
} 
.aweForm .keycol .select2-selection--multiple {
	background-color: rgba(255,255,156,0.25) !important;
}	 
.aweForm .disabled .select2-selection--multiple {
	background-color: rgba(128,128,128,0.2) !important;
}	

.aweForm .select2-selection--multiple .select2-selection__rendered {
	display:flex;
margin:0; 
} 
.aweForm .select2-container--default .select2-selection--multiple .select2-selection__choice {
margin: 1px;
padding: 2px;
min-width: 2.5em;
	max-width: 7em;
border-radius: 2px;
background-color: #eaeaea !important;
border: unset !important;
}  
.aweForm .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
padding-left: 0;
border-radius: 2px;
margin-right: 2px;
}
.select2-selection__choice__remove {
height: 50%;
background-color:#f06a61c9;
}
.select2-results__option {
padding: 3px;
} 
.select2-results__option:before {
content: "";
display: inline-block;
position: relative;
height: 13px;
width: 13px;
border: 2px solid #e9e9e9;
border-radius: 3px;
background-color: #fff;
margin-right: 6px;
vertical-align: middle;
}
.select2-results__option[aria-selected=true]:before {
font-family:fontAwesome;
content: "\f00c";
color: #fff;
background-color: #f77750 !important;
border: 0;
display: inline-block;
padding-left: 2px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #eaeaeb;
	color: #272727;
}  
.select2-container--default .select2-results__option--selected {
background-color: #eaeaeb;
color: #272727;
}    
.select2-container--default .select2-results__option--selected:before {
font-family:fontAwesome;
content: "\f00c";
color: #fff;
background-color: #f77750 !important;
border: 0;
display: inline-block;
padding-left: 2px;
}
.select2-container--open .select2-dropdown--below {  
	box-shadow: 0 0 3px rgba(0,0,0,0.5); 
}
.select2-selection .select2-selection--multiple:after {
	content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
	display: none;
}
.select-icon .placeholder {
/* 	display: none; */
}
.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
	display: none !important;
	/* content: "" !important; */
}
.select-icon  .select2-search--dropdown {
	display: none;
}
/*** select2 Hack *********************************************************************************/
